<ion-header mode="ios" class="ion-no-border product-page">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-label class="title">
        Coconut<b>Chips</b>
      </ion-label>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-buttons slot="end">
        <ion-back-button class="menu-btn" defaultHref="home" text="" icon="chevron-back-outline">
        </ion-back-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="product-page">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12">
        <ion-text class="name">Dang</ion-text>
        <div class="product-img">
          <ion-img src="../../assets/images/p3.png"></ion-img>
          <div class="details">
            <ion-label>Pure Coconut<b>100%</b></ion-label>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="qty-section">
      <ion-col size="4">
        <div class="qty-btn plus">
          <ion-button mode="ios" (click)="increment()">
            <ion-icon name="add"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
      <ion-col size="4" class="qty">
        <div class="number">0{{ counter }}</div>
        <ion-text class="price">$ {{counterprice}}.00</ion-text>
      </ion-col>
      <ion-col size="4">
        <div class="qty-btn minus">
          <ion-button mode="ios" (click)="decrement()">
            <ion-icon name="remove"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="addToCart">
      <ion-col size="12">
        <div class="btn" [routerLink]="['/cart']">
          <ion-text class="title">Add to Cart</ion-text>
          <ion-button mode="ios" >
            <ion-img src="../../assets/icon/bag-dark.svg"></ion-img>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>